.App {
  text-align: center;
}
.contactushead{
  position: relative;
  margin: 50px 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.nav{
  background-color: #282c34;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0rem 0rem;
  color: white;
}

.nav ul{
  display: flex;
  font-size: 15px;
  list-style: none;
  gap: 2rem;
}
.nav li{
  cursor: pointer;

}
.nav li:hover{
  cursor: pointer;
  color: goldenrod;
}


.nav .link{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nav .link:hover{
  cursor: pointer;
  color: goldenrod;
}
.nav .link.active{
  cursor: pointer;
  color: goldenrod;
}
.logomaindiv{
  margin: 10px 20px;
}
.logomain{
  cursor: pointer;
  width: 100px;
}
.logoname{
  color: black;
}
.advertisment{
  width: 100%;
}
.offername{
  padding: 9rem 3rem;
}
.offername p:first-child{
  color: black;
  font-size: 2rem;
  font-weight: 1000;
  margin: 0rem 100px;
}
.offername p{
  color: #f7444e;
  font-size: 2rem;
  font-weight: 1000;
  margin: 0rem 100px;
}
.offername div{
  text-align: justify;
  width: 30%;
  color: grey;
  font-size: .8rem;
  margin: 0rem 100px;
}
.offername button{
  background-color: #f7444e;
  color: white;
  padding: 5px 20px;
  /* cursor: pointer; */
  margin: 2rem 100px;
}
/* .offername button:hover{
  border: 2px solid #f7444e;;
  background-color: white;
  color: #f7444e;;
  padding: 5px 20px;
  cursor: pointer;
} */

.allcards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.whyshopwithus p{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
.cards{
  padding: 50px 0px;
  width: 200px;
  background-color: #002c3e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15px;
}
.cards img{

  width: 50px;
  padding: 10px 0px;
}
.cards p{
  color: white;
  margin: 0px 10px;
  font-size: 22px;
}
.cards span{
  color: white;
  margin: 0px 15px;
  font-size: 15px;
  text-align: center;
}


.advertisment2{
  
  margin: 50px 0px;
  text-align: start;
  height: 80vh; 
  background-image: url("../public/jugjug.png");
  background-size: cover;
}
.offername2{
  padding: 9rem 3rem;
  text-align: end;
}
.offername2 p:first-child{
  color: black;
  font-size: 2rem;
  font-weight: 1000;
  margin: 0rem 100px;
}
.offername2 p{
  color: #f7444e;
  font-size: 2rem;
  font-weight: 1000;
  margin: 0rem 100px;
}

.offername2 button{
  background-color: #f7444e;
  color: white;
  padding: 5px 20px;
  /* cursor: pointer; */
  margin: 2rem 100px;
}
/* .offername2 button:hover{
  border: 2px solid #f7444e;
  background-color: white;
  color: #f7444e;
  padding: 5px 20px;
  cursor: pointer;
} */
.ourproducts{
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: 1000;
  margin: 0rem 50px;
}
.headourpro span:first-child{
  color: #f7444e;
}
.allcardsofproducts{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.productcard{
  border-radius: 2px;
  background-color: #d8d8d7;
  padding: 10px;
  width: 150px;
  align-items: center;
  margin: 20px 10px;

}
.productcard img{
  height: 150px;
  max-width: 150px;
}
.pricename{
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  font-weight: 400;
}
.addtocartbtn{
  border-radius:5px ;
  color: black;
  background: linear-gradient(#F7DEA1, #F0C14D);
  border: 0.5px solid #aaaaaa;
  padding: 5px 10px;
  margin: 0px 20px;
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.addtocartbtn:hover{

  background: linear-gradient(#F5D68A, #EEBA36);

  cursor: pointer;
}


.carttablediv{
  margin: 0px 20vw;
}
.carttable tr{
  border-bottom: 2px solid black;
}
.carttable th{
  width: 20%;
}
.proceedtocheckout{
  border-radius:5px ;
  color: white;
  border: 2px solid goldenrod;
  background-color: goldenrod;
  padding: 5px 10px;
  margin: 50px 0vw;
  width: 55vw;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.proceedtocheckout:hover{
  border-radius:5px ;
  color: #002c3e;
  border: 2px solid #002c3e;
  background-color: white;
  padding: 5px 10px;
  margin: 50px 0vw;
  width: 55vw;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.carttable{
  margin: 0px 0px;
}
.footer{


  color: goldenrod;
  background-color: black;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer span{
  font-size: 10px;
}
.footer h4{
  font-size: 10px;
}

.deleteit{
  cursor: pointer;
}
.deleteit:hover{
  color: goldenrod;
  cursor: pointer;
}

.secondnav{
  width: 100%;
  /* padding: 2px 15px; */
  /* min-width:1250px;
  max-width: 1250px; */
  height: 40px;
  color: white;
  background-color: #233040;
  display: flex;
  justify-content: space-between;
}
.liftlist ul{
  font-weight: bold;
  margin: 5px 0px;
  display: flex;
  justify-content: space-around;
  list-style: none;

}
.liftlist li{
  cursor: pointer;
  margin: 5px 5px;
}
.liftlist i{
  cursor: pointer;
  margin: 0px 5px;
}
.delivery{
  font-size: 10px;
  margin: 0px 0px;
}
.cartimg{
  border: 2px solid goldenrod;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  height: 100px;
}
