.bothnav{
  width: 100%;
}
.navparent
{
  /* min-width:1250px;
  max-width: 1250px; */
  width: 100%;
  padding: 2px 15px;
  height: 50px;
  background-color: #0f1111;
  display: flex;
  justify-content: space-between;
}
.logoimg{
  margin: 0px 0px;
  cursor: pointer;
  width: 80px;
}
.location{
  margin: 5px 10px;
  border: 1px solid #0f1111;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  vertical-align: middle;
  color: white;
  list-style: none;
}

.location p{
  margin: 10px 0px;
}
.location ul{
  list-style: none;
  margin: 0px 0px;
  padding-left: 8px;
}
.location li{
  list-style: none;
  margin: 0px 0px;
}
.searchdiv{
  margin: 5px 10px;
  background-color: white;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  display: flex;

}
.searchdiv select{
  font-size: 15px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: inherit;
  border: 2px solid rgb(218, 215, 209);
  background-color: rgb(218, 215, 209);
}
.searchdiv input{
  height: 37px;
  border: none;
}
.searchdiv div{
  cursor: pointer;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: inherit;
  width: 40px;
  color: white;
  background-color: goldenrod;
}
#searchlogo{
  margin: 10px 5px;
  font-size: 17px;
}
.language{
  display: flex;
  color: white;
}
.language img{
  margin-top: 20px;
  width: 25px;
  cursor: pointer;
}
.language i{
  cursor: pointer;
  margin-top: 15px;
  /* width: 25px; */
}
.cart{
  margin: 10px 0px;
color: white;
font-size: 30px;
}
.cart span{
  margin: 10px 0px;
color: white;
font-size: 15px;
}
.secondnav{
  width: 100%;
  /* padding: 2px 15px; */
  /* min-width:1250px;
  max-width: 1250px; */
  height: 40px;
  color: white;
  background-color: #233040;
  display: flex;
  justify-content: space-between;
}
.liftlist ul{
  font-weight: bold;
  margin: 5px 0px;
  display: flex;
  justify-content: space-around;
  list-style: none;

}
.liftlist li{
  cursor: pointer;
  margin: 5px 5px;
}
.liftlist i{
  cursor: pointer;
  margin: 0px 5px;
}
