.App {
  text-align: center;
  background-image: url('https://media2.giphy.com/media/CKlafeh1NAxz35KTq4/200w.webp?cid=ecf05e47jmt373injglv53phf6zmtct9zl81iq2fcr6b17b5&rid=200w.webp&ct=g');
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.App-logo {
  height: 100%;
  width: 100%;

}



.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rows{
  width: 590px;
  display: flex;
  justify-content: space-between;
}
.inputs{
  padding: 20px;
  margin: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
  font-size: 25px;

}
.rowsbtn{
  width: 590px;
  display: flex;
  justify-content: space-around;
}
.inputsbtn{

  width: 700px;
  cursor: pointer;
  border: 1px solid aqua;
  border-radius: 10px;
  font-size: 25px;
  

}
.rows span{ 
  padding-top: 25px;
  color:  rgb(8, 70, 141);
  font-size: 28px;
  font-weight: bold;
}
.calcu{
  background-color: rgb(78, 139, 209);
  padding: 50px;
  border-radius: 20px;
}
.inputstime{
  margin-left: 20px;
  width: 95px;
  padding: 20px;
  margin-right: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
  font-size: 25px;
}
.billwords{
  background-color: black;
  padding: 30px;
  border: 1px solid aqua;
  border-radius: 10px;
  margin: 50px;
 


}
.backofBill{
  backdrop-filter: blur(40px);
  box-shadow: 100px 150px 25px rgba(129, 124, 124, 0.2);
padding: 50px;
/* border: 1px solid aqua; */
border-radius: 10px;

}