.App {
  text-align: center;
}

.resparent{
  cursor: pointer;
  /* margin: 10%; */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  display: flex;
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 50px 50px 50px black;
}
.resparent:hover{
  cursor: pointer;
  margin: 1%;
  display: flex;
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 50px 50px 50px black;
}
.nameadd{
  font-size: 90%;
  margin: 6%;
  display: column;
}
.resimg{
  max-width: 30%;
  min-width: 30%;
  max-height: 20%;
  min-height: 20%;
  border-radius: 10px;
  margin: 6%;
}
.Navbar{
  margin-top: -10px;
  margin-bottom: 100px;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.resname{
  cursor: pointer;
  font-size: 3vw;
  color: white;
  margin: 10px 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.logout{
  cursor: pointer;
  font-size: 15px;
  margin: 15px;
  font-weight: bold;
  padding: 15px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.logout:hover{
  font-size: 15px;
  margin:15px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.searchbar{
  font-size: 20px;
  border-radius: 10px;
  height: 40px;
  width: 80%;
  padding: 10px;
}
.searchbarparent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
}
.searchbarparent input{
  margin: 1% 10% ;
  border: none;
}
.zomatologo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.searchbarparent p{
  color: white;
text-align: center;  
font-size: 5vw;
}
.zomatologo img{
  width: 35vw;
}